# /etc/systemd/system/harbor.service
# systemctl start nginx.service
#

[Unit]
Description=Harbor
After=docker.service systemd-networkd.service systemd-resolved.service
Requires=docker.service
Documentation=http://github.com/vmware/harbor
[Service]
Type=simple
Restart=on-failure
RestartSec=5
Environment="CONF=/home/harbor/docker-compose.yml"
ExecStart=/usr/local/bin/docker-compose -f ${CONF} up
ExecStop=/usr/local/bin/docker-compose -f ${CONF} down
[Install]
WantedBy=multi-user.target