# /etc/systemd/system/harbor.service
# systemctl start harbor.service
# systemctl enable harbor.service
#
[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service systemd-networkd.service systemd-resolved.service
Documentation=http://github.com/vmware/harbor
[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/harbor
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
[Install]
WantedBy=multi-user.target
