# mysqld start script 
# /etc/systemd/system/mysqld.service
# mysqld 5.6
# systemctl start mysqld.service
# systemctl enable mysqld.service

[Unit]
Description=MySQL Database Server
Documentation=man:mysqld(8)
Documentation=http://dev.mysql.com/doc/refman/en/using-systemd.html
After=network.target
After=syslog.target
[Service]
Type=simple
User=mysql
Group=mysql
ExecStart=/usr/local/mysql/bin/mysqld_safe \
	--defaults-file=/usr/local/mysql/my.cnf
LimitNOFILE=5000
[Install]
WantedBy=multi-user.target
